<div class="card" style="width: 27rem;">
  <div class="card-body text-center p-4">
    <h5 class=" card-title">Crie sua conta</h5>
    <p class="card-text">Tenha seus eventos e reuniões organizadas por data e hora!
    </p>
    <form [formGroup]="signUpForm">
      <div class="mb-3 text-start">
        <label for="nome" class="form-label">
          Nome</label>
        <input type="text" class="form-control" formControlName="nome" id="nome"
          [class.valid]="signUpForm.controls['nome'].valid"
          [class.invalid]="signUpForm.controls['nome'].invalid && signUpForm.controls['nome'].touched || signUpForm.controls['nome'].dirty">
        <div
          *ngIf="signUpForm.controls['nome'].invalid && signUpForm.controls['nome'].touched || signUpForm.controls['nome'].dirty">
          <label class="error-message" *ngIf="signUpForm.controls['nome'].hasError('required')">
            Esse campo precisa ser preenchido.
          </label>
        </div>
      </div>
      <div class="mb-3 text-start">
        <label for="sobrenome" class="form-label">
          Sobrenome</label>
        <input type="text" class="form-control" formControlName="sobrenome" id="sobrenome"
          [class.valid]="signUpForm.controls['sobrenome'].valid"
          [class.invalid]="signUpForm.controls['sobrenome'].invalid && signUpForm.controls['sobrenome'].touched || signUpForm.controls['sobrenome'].dirty">
        <div
          *ngIf="signUpForm.controls['sobrenome'].invalid && signUpForm.controls['sobrenome'].touched || signUpForm.controls['sobrenome'].dirty">
          <label class="error-message" *ngIf="signUpForm.controls['sobrenome'].hasError('required')">
            Esse campo precisa ser preenchido.
          </label>
        </div>
      </div>
      <div class="mb-3 text-start">
        <label for="email" class="form-label">
          Email</label>
        <input type="email" class="form-control" formControlName="email" id="email"
          [class.valid]="signUpForm.controls['email'].valid"
          [class.invalid]="signUpForm.controls['email'].invalid && signUpForm.controls['email'].touched || signUpForm.controls['email'].dirty">
        <div
          *ngIf="signUpForm.controls['email'].invalid && signUpForm.controls['email'].touched || signUpForm.controls['email'].dirty">
          <label class="error-message" *ngIf="signUpForm.controls['email'].hasError('email')">
            Não é um e-mail valido.
          </label>
          <label class="error-message" *ngIf="signUpForm.controls['email'].hasError('required')">
            Esse campo precisa ser preenchido.
          </label>
        </div>
      </div>
      <div class="mb-3 text-start">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" id="senha" class="form-control" formControlName="senha"
          aria-describedby="passwordHelpBlock" [class.valid]="signUpForm.controls['senha'].valid"
          [class.invalid]="signUpForm.controls['senha'].invalid && signUpForm.controls['senha'].touched || signUpForm.controls['senha'].dirty">
        <div id="passwordHelpBlock" class="form-text">
          Sua senha deve ter de 8 a 20 caracteres.
        </div>
        <div
          *ngIf="signUpForm.controls['senha'].invalid && signUpForm.controls['senha'].touched || signUpForm.controls['senha'].dirty">
          <label class="error-message" *ngIf="signUpForm.controls['senha'].hasError('required')">
            Esse campo precisa ser preenchido.
          </label>
          <label class="error-message" *ngIf="signUpForm.controls['senha'].errors?.['minlength']">
            Sua senha deve ter no mínimo 8 caracteres.
          </label>
        </div>
      </div>
      <button type="button" class="btn btn-primary">Cadastrar</button>
    </form>
    <div class="mb-3">
      <p>AJá tem uma conta? <a href="#">Fazer login</a></p>
    </div>
  </div>
</div>