<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Adicionar um novo evento</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onClose()"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="eventoForm" (ngSubmit)="onConfirm()">
      <div class="mb-3">
        <label for="description" class="col-form-label">Descrição do evento:</label>
        <input type="text" class="form-control" id="description" formControlName="description"
          [class.valid]="eventoForm.controls['description'].valid"
          [class.invalid]="eventoForm.controls['description'].invalid && eventoForm.controls['description'].touched || eventoForm.controls['description'].dirty">
        <div
          *ngIf="eventoForm.controls['description'].invalid && eventoForm.controls['description'].touched || eventoForm.controls['description'].dirty">
          <label class="error-message" *ngIf="eventoForm.controls['description'].hasError('required')">
            A descrição é obrigátoria!
          </label>
        </div>
      </div>
      <div class="mb-3">
        <label for="start" class="col-form-label">Hora de início:</label>
        <input type="time" class="form-control" id="start" formControlName="start"
          [class.valid]="eventoForm.controls['start'].valid"
          [class.invalid]="eventoForm.controls['start'].invalid && eventoForm.controls['start'].touched || eventoForm.controls['start'].dirty">
        <div
          *ngIf="eventoForm.controls['start'].invalid && eventoForm.controls['start'].touched || eventoForm.controls['start'].dirty">
          <label class="error-message" *ngIf="eventoForm.controls['start'].hasError('required')">
            A hora de início é obrigatória.
          </label>
        </div>
      </div>
      <div class="mb-3">
        <label for="end" class="col-form-label">Hora de término:</label>
        <input type="time" class="form-control" id="end" formControlName="end"
          [class.valid]="eventoForm.controls['end'].valid"
          [class.invalid]="eventoForm.controls['end'].invalid && eventoForm.controls['end'].touched || eventoForm.controls['end'].dirty">
        <div
          *ngIf="eventoForm.controls['end'].invalid && eventoForm.controls['end'].touched || eventoForm.controls['end'].dirty">
          <label class="error-message" *ngIf="eventoForm.controls['end'].hasError('required')">
            A hora de término é obrigatória.
          </label>
        </div>
        <div class="mb-3">
          <label for="colorSelect" class="col-form-label" class="col-form-label">Selecione uma cor:</label>
          <select id="colorSelect" [(ngModel)]="selectedColor" class="form-select form-control" formControlName="color">
            <option *ngFor="let event of eventTypes" [value]="event.color" [style.background-color]="event.color">{{
              event.label }}
            </option>
          </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onClose()">Cancelar</button>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </div>
</div>