<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Adicionar um novo evento</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onClose()"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="eventoForm" (ngSubmit)="onConfirm()">
      <div class="mb-3">
        <label for="description" class="col-form-label">Descrição do evento:</label>
        <input type="text" class="form-control" id="description" formControlName="description" [(ngModel)]="description"
          [class.valid]="eventoForm.controls['description'].valid"
          [class.invalid]="eventoForm.controls['description'].invalid && eventoForm.controls['description'].touched || eventoForm.controls['description'].dirty">
        <div
          *ngIf="eventoForm.controls['description'].invalid && eventoForm.controls['description'].touched || eventoForm.controls['description'].dirty">
          <label class="error-message" *ngIf="eventoForm.controls['description'].hasError('required')">
            A descrição é obrigátoria!
          </label>
        </div>
      </div>
      <div class="mb-3">
        <label for="start" class="col-form-label">Hora de início:</label>
        <input type="time" class="form-control" id="start" formControlName="start" [(ngModel)]="start"
          [class.valid]="eventoForm.controls['start'].valid"
          [class.invalid]="eventoForm.controls['start'].invalid && eventoForm.controls['start'].touched || eventoForm.controls['start'].dirty">
        <div
          *ngIf="eventoForm.controls['start'].invalid && eventoForm.controls['start'].touched || eventoForm.controls['start'].dirty">
          <label class="error-message" *ngIf="eventoForm.controls['start'].hasError('required')">
            A hora de início é obrigatória.
          </label>
        </div>
      </div>
      <div class="mb-3">
        <label for="end" class="col-form-label">Hora de término:</label>
        <input type="time" class="form-control" id="end" formControlName="end" [(ngModel)]="end"
          [class.valid]="eventoForm.controls['end'].valid"
          [class.invalid]="eventoForm.controls['end'].invalid && eventoForm.controls['end'].touched || eventoForm.controls['end'].dirty">
        <div
          *ngIf="eventoForm.controls['end'].invalid && eventoForm.controls['end'].touched || eventoForm.controls['end'].dirty">
          <label class="error-message" *ngIf="eventoForm.controls['end'].hasError('required')">
            A hora de término é obrigatória.
          </label>
        </div>
      </div>
      <div
        *ngIf="eventoForm.controls['end'].invalid && eventoForm.controls['end'].touched || eventoForm.controls['end'].dirty">
        <label class="error-message" *ngIf="eventoForm.controls['end'].hasError('required')">
          A hora de término é obrigatória.
        </label>
      </div>
      <div class="modal-footer">
        <div *ngIf="hasMissingFields">
          <label class="error-message" *ngIf="hasMissingFields">
            {{ hasMissingFields }}
          </label>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onClose()">Cancelar</button>

        <!-- Verifica se existe description, start e end para exibir os botões de editar e excluir -->
        <ng-container *ngIf="toEdit">
          <button type="button" class="btn btn-danger" (click)="showConfirm()">Excluir</button>
          <button type="submit" class="btn btn-warning">Editar</button>
        </ng-container>

        <!-- Botão para enviar (aparece somente se não houver informações para editar) -->
        <button type="submit" class="btn btn-primary" *ngIf="!toEdit">Enviar</button>
      </div>
    </form>
  </div>
</div>