<div class="vh-100">
  <app-navbar />
  <div class='demo-app'>
    <div class="container-fluid ">
      <div class="row">
        <div class="col-sm-12">
          <div class='demo-app-main'>
            <full-calendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
              <ng-template #eventContent let-arg>
                <b>{{ arg.timeText }}</b>
                <i>{{ arg.event.title }}</i>
              </ng-template>
            </full-calendar>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
