/* You can add global styles to this file, and also import other style files */
/* styles.css */
:root {
  --black: #000000;
  --white: #ffffff;
  --red: #aa0606;
  --grey: #383636;
  --secondary: #f4faff;
}
